@page "/orders/add"
@page "/orders/edit/{OrderId:guid}"

<h3>
    @pageTitle
</h3>


<EditForm Model="@orderModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-6">
            <label>Order Name</label>
            <InputText @bind-Value="orderModel.Name" class="form-control" />
            <ValidationMessage For="@(()=>orderModel.Name)" />
        </div>

        <div class="col-md-6">
            <label>Expire Date</label>
            @*<InputDateTime class="form-control" @bind-Value="orderModel.ExpireDate" />*@
            <InputDate class="form-control" @bind-Value="orderModel.ExpireDate" />
            <ValidationMessage For="@(()=>orderModel.ExpireDate)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Created User Name</label>

            @if (!OrderId.IsNull())
            {
                <input value="@orderModel.CreatedUserFullName" class="form-control" disabled />
            }
            else
            {
                <input value="@myFullName" class="form-control" type="text" disabled />
            }
        </div>

        <div class="col-md-6">
            <label>Supplier</label>
            <SupplierDropDown @bind-Value="orderModel.SupplierId" @bind-Value:event="ValueChanged" />
            <ValidationMessage For="@(()=>orderModel.SupplierId)" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label>Order Description</label>
            <InputTextArea class="form-control" @bind-Value="orderModel.Description" />
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-12">
            <SaveButtonComponent Caption="Save" />
            <CancelButtonComponent Caption="Cancel" OnClick="GoBackOrderList" />
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public Guid OrderId { get; set; }

    [Inject]
    HttpClient HttpClient { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }


    OrderDto orderModel = new OrderDto();

    String pageTitle = "Create Order";
    String myFullName = "";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!OrderId.IsNull()) // updating
            {
                orderModel = await HttpClient.GetServiceResponseAsync<OrderDto>("api/Order/OrderById/" + OrderId);
                pageTitle = "Edit Order";
            }

            myFullName = await LocalStorageService.GetUserFullName();
        }
        catch (ApiException ex)
        {
            await ModalManager.ShowMessageAsync("Api Exception", ex.Message);
        }
    }

    async Task OnValidSubmit()
    {
        String url = "api/Order/CreateOrder";

        if (!OrderId.IsNull())
            url = "api/Order/UpdateOrder";

        try
        {
            orderModel.CreateUserId = await LocalStorageService.GetUserId();
            orderModel = await HttpClient.PostGetServiceResponseAsync<OrderDto, OrderDto>(url, orderModel, true);
            GoBackOrderList();
        }
        catch (ApiException ex)
        {
            await ModalManager.ShowMessageAsync("Api Exception", ex.Message);
        }
    }

    void GoBackOrderList()
    {
        NavigationManager.NavigateTo("/orders/list");
    }
}
